@media (min-width: 992px) {

}

@media (min-width:768px) {
  
}

@media (min-width:1200px) and (max-width:1400px) {

  

}

@media (min-width:1024px) and (max-width:1199px) {
  
}


@media (max-width: 991px) {

  

}
@media (max-width: 767px) {

  .banner-text {
    width: 100%;
    padding: 120px 0 100px;

    h1 {
      font-size: 42px;
    }
    img {
      margin-bottom: 10px;
    }
  }

  .feature-section {
    padding: 50px 0;
  }

  .custom-tab {
    .nav-pills .nav-link {

      h3 {
        font-size: 30px;
        margin-bottom: 10px;
      }

      p {
        font-size: 20px;
      }

      &.active {
        opacity: 1;
      }
    }

    .tab-content {
      display: flex;
      justify-content: center;

    }
  }

  .video-section {
    padding-bottom: 60px;
  }

  .testimonial-content {
    max-width: 90%;
  }

  .footer-social {
    justify-content: flex-start;
  }

  .mbl-mt-40 {
    margin-top: 40px;
  }

  .app-button {
    img {
      margin-bottom: 10px;
    }
  }
  
}

@media (max-width: 480px) {

  

}